{
  "installed": {
    "client_id": This file has been provided by google, go to https://console.cloud.google.com/apis to create yours ,
    "project_id": If you do not intend to use google API you can delete this file,
    "auth_uri": ",
    "token_uri": ,
    "auth_provider_x509_cert_url": ,
    "client_secret": ,
    "redirect_uris": [
      "http://localhost"
    ]
  }
}